<nav class="navbar navbar-expand-lg navbar-light bg-light bg-light ">
  <div class="container-fluid gap-4 ">
    <div class="navbrand-logo">

      <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="Flipkart Logo" />
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex flex-grow-1 ">

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

      </form>
    </div>
<div class="d-flex align-items-center gap-3 ms-auto">

  <div class="dropdown">
    <a class="btn btn-light d-flex align-items-center" href="#"
       role="button" id="loginDropdown">
      Login
    </a>
  </div>

  <!-- Cart -->
  <a href="#" class="text-decoration-none d-flex align-items-center">
    <i class="bi bi-cart me-1"></i> Cart
  </a>

  <!-- Become a Seller -->
  <a href="#" class="text-decoration-none d-flex align-items-center">
    <i class="bi bi-shop me-1"></i> Become a Seller
  </a>

</div>

  </div>
</nav>
