<div class="wrapper" style="background-color: rgb(223, 214, 214) ; padding: 12px 0;margin : 10px; border-radius : 5px">

  <div class="container">
<div class="row">

  <div class="col">
    <div class="category">
      <img src="images/image_1.jpg" />
      <div>
        Minutes
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/5f2ee7f883cdb774.png?q=100" />
      <div>
        Mobiles &amp; Tablets
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/ff559cb9d803d424.png?q=100" />
      <div>
       Fashion
      </div>
    </div>
  </div>





  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/af646c36d74c4be9.png?q=100" />
      <div>
        Electronics
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="	https://rukminim2.flixcart.com/fk-p-flap/128/128/image/1788f177649e6991.png?q=100" />
      <div>
        Home Furniture
      </div>
    </div>
  </div>

   <div class="col">
    <div class="category">
      <img src="	https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e90944802d996756.jpg?q=100" />
      <div>
        Tv &amp; Appliances
      </div>
    </div>
  </div>


 <div class="col">
    <div class="category">
      <img src="	https://rukminim2.flixcart.com/fk-p-flap/128/128/image/3c647c2e0d937dc5.png?q=100" />
      <div>
        Flight Bookings
      </div>
    </div>
  </div>
 <div class="col">
    <div class="category">
      <img src=" https://rukminim2.flixcart.com/fk-p-flap/128/128/image/b3020c99672953b9.png?q=100" />
      <div>
        Beauty
      </div>
    </div>
  </div>

<div class="col">
    <div class="category">
      <img src=" https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e730a834ad950bae.png?q=100" />
      <div>
        Grocery
      </div>
    </div>
  </div>

</div>

</div>

</div>
