<div class="container">
<div class="row">

  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e00302d428f5c7be.png?q=100" />
      <div>
        Minutes
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e00302d428f5c7be.png?q=100" />
      <div>
        Minutes
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e00302d428f5c7be.png?q=100" />
      <div>
        Minutes
      </div>
    </div>
  </div>





  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e00302d428f5c7be.png?q=100" />
      <div>
        Minutes
      </div>
    </div>
  </div>


  <div class="col">
    <div class="category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/e00302d428f5c7be.png?q=100" />
      <div>
        Minutes
      </div>
    </div>
  </div>
</div>

</div>
