<h3 class="text-center">
  Let's Learn Data binding
</h3>


<div class="border border-2 rounded-2 p-2 m2">
  <!-- //String Interpolation -->
<div> User name is : {{userName}}</div>
<!-- //Property Binding -->
<div> User name is : <span [innerText]="userName"></span></div>
<div>
  <img src="{{img_url}}" alt=""  width="300" height="300"/>
  <img [src]="img_url" alt="" width="300" height="300"  class="mx-2"/>
   <img bind-src="img_url" alt="" width="300" height="300"  class="mx-2"/>
 </div>
 <div class="mt-2">

  <input type="text" value="{{userName}}" class="mx-2"/>

    <input type="text" [value]="userName" class="mx-2"/>
      <input type="text" bind-value="userName" class="mx-2"/>
       <input type="text" [(ngModel)]="userName" class="mx-2"/>

 </div>



 <div class="mt-2">
   <button class="btn btn-primary" disabled="{{flag}}">Click Me</button>
   <button class="btn btn-primary" [disabled]="flag">Click Me</button>
   <button class="btn btn-primary" bind-disabled="flag">Click Me</button>
 </div>


<span>{{flag}}</span>
 <button class="btn btn-pimary mx-2" (click)="toggleFlag()">Click Me</button>

 <div>
  <div>Attribute Binding</div>

  <input type="text" id="box"  placeholder="Enter something.." value="Rasheed"/>
 </div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Subject</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td [attr.rowspan]="rowSpanValue">Alice Smith</td>
      <td>Mathematics</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Science</td>
      <td>B+</td>
    </tr>

    <tr>
      <td >Bob Johnson</td>
      <td>English</td>
      <td>B</td>
    </tr>
    <tr>
      <td>Art</td>
      <td>A</td>
    </tr>
  </tbody>
</table>


<div>
  @let name = user.name;
  <div>
 userName is :{{name}}
  </div>

</div>

<div class="border border-3 rounded-3 p-2 m-2">

  <h4>Adding 2 number</h4>

  <input type="number" [(ngModel)]='num1' class="mx-2"/>
  <input type="number" [(ngModel)]='num2'/>

  <p>Addition of for 2 number is {{num1 + num2}} </p>
</div>



<!-- Templaye refernce varibale -->
 <!-- change will be there only in input variables -->

<div class="border border-3 rounded-3 p-2 m-2">

  <h4>Adding 2 number</h4>

  <input type="number" #num3 class="mx-2"/>
  <input type="number" ref-num4/>
<button class="btn btn-primary" (click)="addition(num3.value,num4.value)">Add</button>
</div>
</div>
